body{
    background-color: #fdecf2;
}

.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1360px; /* ハンバーガーアイコンを右寄せ */
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
}

/*投稿データ*/
.PostAndArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  color: #555555; /* 文字の色を指定 */
  font-size: 20px;
}

#postDay{
  color:#c88baa;
}

#feel{
  font-size:50px;
  margin:5px;
  margin-top: 20px;
}

#caption{
  margin:5px;
  margin-bottom: 20px;
  width:600px;
}

/*矢印アイコンのホバー*/
#rightArrow:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

#leftArrow:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.update-button button{
  border: 3px solid #c88baa;
  border-radius: 100px;
  display: block;
  width: 150px;
  padding: 15px;
  box-sizing: border-box;
  background: #c88baa;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 10px auto;
}
